
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #595959;
	background-color: #cacaca;
}

section h2 {
	font-size: 26px;
	margin-top: 0;
	margin-bottom: 25px;
}

.row {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.row::before, .row::after {
	display: table;
	content: " ";
}

.row::after {
	clear: both;
}

.content-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

.section-container {
	padding: 30px;
	background: url('../img/patterns/background-white.png') repeat 0 0;
}

.section-container::before, .section-container::after {
	display: table;
	content: " ";
}

.section-container::after {
	clear: both;
}

.inline-list {
	padding: 0;
	list-style: none;
}

.inline-list > li {
	display: inline-block;
	padding: 0 3px;
}

.profile-header {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 0;
	border-top: 10px solid #595959;
	background: url('../img/patterns/background-white.png') repeat 0 0;
	text-align: center;
}

.profile-image {
	width: 185px;
	height: 185px;
	border-radius: 50%;
}

.profile-desc h1.profile-name {
	font-family: 'Open Sans', sans-serif;
	color: #595959;
	font-size: 36px;
	font-weight: 700;
	margin-top: 35px;
	margin-bottom: 7px;
	padding-left: 4px;
}

.profile-desc h2.profile-position {
	font-family: 'Open Sans', sans-serif;
	color: #595959;
	font-size: 24px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 25px;
}

.profile-desc .profile-social {
	margin-top: 0;
	margin-bottom: 14px;
}

.profile-desc .profile-social a {
	display: inline-block;
	text-decoration: none;
}

.profile-desc .profile-social a {
	color: #737373;
}

.profile-desc .profile-social a:hover {
	color: #595959;
}

.link-contact {
	display: table;
	position: absolute;
	top: 0;
	right: 15px;
	width: 45px;
	height: 30px;
	background-color: #595959;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	text-align: center;
}

.link-contact a {
	display: table-cell;
	vertical-align: middle;
	line-height: 0;
	font-size: 0;
	text-decoration: none;
	color: transparent;
}

.link-contact i {
	font-size: 14px;
	color: #fff;
}

.link-contact:hover {
	background-color: #cacaca;
}

.link-contact:hover i {
	color: #595959;
}

.about-me {
	margin-bottom: 20px;
}

.about-me p {
	margin: 0;
	font-size: 14px;
	line-height: 1.8;
	text-align: justify;
}

.about-me i {
	color: #737373;
}

.projects {
	margin-bottom: 20px;
}

.projects .project {
	margin-top: 35px;
}

.projects .project:first-of-type {
	margin-top: 0;
}

.project h3 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 15px;
}

.project img.screenshot {
	width: 230px;
	height: 130px;
	cursor: pointer;
}

.project p.description {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.8;
}

.skills .skill {
	margin-top: 20px;
}

.skills .skill:first-of-type {
	margin-top: 0;
}

.skill h3 {
	font-size: 17px;
	margin-top: 0;
	margin-bottom: 10px;
}

.level {
	width: 100%;
	height: 20px;
	background-color: #cacaca;
}

.level > .level-fill {
	height: 20px;
	background-color: #595959;
}

.footer {
	background-color: #595959;
	height: 20px;
}


@media screen and (min-width: 768px) {
	.row {
		width: 80%;
		padding: 0;
	}

	.col-left {
		display: table-cell;
		width: 70%;
		padding-right: 20px;
	}

	.col-right {
		display: table-cell;
		width: 30%;
	}

	.profile-header {
		text-align: left;
	}

	.profile-image {
		float: left;
		margin-right: 40px;
	}

	.profile-desc {
		float: left;
	}

	.profile-desc h2.profile-position {
		margin-bottom: 15px;
	}

	.profile-desc .profile-social {
		margin: 0 0 0 -5px;
	}

	.link-contact {
		right: 10%;
		width: 135px;
		height: 40px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.link-contact a {
		line-height: 1.15;
		font-size: 14px;
		color: #fff;
	}

	.link-contact i {
		margin-right: 5px;
	}

	.link-contact:hover a {
		color: #595959;
	}

	.projects {
		margin-bottom: 0;
	}
}
